<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Xenia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-role>
    <description>Client</description>
    <role-name>client</role-name>
  </security-role>
  <security-role>
    <description>Customer</description>
    <role-name>customer</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>CLient Area</web-resource-name>
      <url-pattern>/Client/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>client</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Xenia</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Client Login</realm-name>
  </login-config>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationSearchQuery</display-name>
    <servlet-name>ReservationSearchQuery</servlet-name>
    <servlet-class>servlets.ReservationSearchQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationSearchQuery</servlet-name>
    <url-pattern>/ReservationSearchQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationSearchResults</display-name>
    <servlet-name>ReservationSearchResults</servlet-name>
    <servlet-class>servlets.ReservationSearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationSearchResults</servlet-name>
    <url-pattern>/ReservationSearchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageReservation</display-name>
    <servlet-name>ManageReservation</servlet-name>
    <servlet-class>servlets.ManageReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageReservation</servlet-name>
    <url-pattern>/ManageReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelReservation</display-name>
    <servlet-name>CancelReservation</servlet-name>
    <servlet-class>servlets.CancelReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelReservation</servlet-name>
    <url-pattern>/CancelReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAndBook</display-name>
    <servlet-name>ViewAndBook</servlet-name>
    <servlet-class>servlets.ViewAndBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAndBook</servlet-name>
    <url-pattern>/ViewAndBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionConfirmation</display-name>
    <servlet-name>TransactionConfirmation</servlet-name>
    <servlet-class>servlets.TransactionConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionConfirmation</servlet-name>
    <url-pattern>/TransactionConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelConfirm</display-name>
    <servlet-name>CancelConfirm</servlet-name>
    <servlet-class>servlets.CancelConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelConfirm</servlet-name>
    <url-pattern>/CancelConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmCancellation</display-name>
    <servlet-name>ConfirmCancellation</servlet-name>
    <servlet-class>servlets.ConfirmCancellation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmCancellation</servlet-name>
    <url-pattern>/ConfirmCancellation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCart</display-name>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>servlets.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReservationHistory</display-name>
    <servlet-name>UpdateReservationHistory</servlet-name>
    <servlet-class>servlets.UpdateReservationHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReservationHistory</servlet-name>
    <url-pattern>/UpdateReservationHistory</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>servlets.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
</web-app>